.footerNovaland {
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    padding: 20px;
    background-origin: center;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    text-align: left;
    ::after{
        display: none;
    }
    
    .footerNovalandItem {
        padding: 0 4px;
        display: flex;
        flex-direction: column;

        h5{
            font-size: 14px;
            font-weight: 700;
            color: #333;
            margin: 0 0 20px;
        }
        a{
            display: block;
            line-height: 24px;
            color: #666;
            font-size: 12px;
            white-space: nowrap;
            text-decoration: none;
        }
        a:hover {
           
            cursor: pointer;
            color: rgb(45, 179, 75)
        }
        p{
            font-size: 12px;
            margin: 12px 0;
            padding: 0
        }
    }

}
