.Banner{
    font-size: 14px;
    height: auto;
    background: #2d3c61;
    .title{
        font-size: 27px;
        color: #fff;
        text-align: center;
        padding: 2%;
        ::after{
            content: '';
            display: block;
            height: 3px;
            width: 80px;
            background: #2db34b;
            margin: 10px auto -30px;
        }
    }
    
    .Rowcontent{
        padding:15px 60px;
        margin: 0;
        .allContent{
            padding: 0;
            margin: 0;
            .mainContent{
                padding: 0 13.125px;
                .content1{
                    background: white;
                    height: auto;
                    margin-bottom: 30px;
                    overflow: hidden;
                    
                    .new_home_content{
                        cursor: pointer;
                        position: absolute;
                        background: #ebebeb;
                        padding: 15px 20px;
                        color: #000;
                        position: relative;
                    }
                    .icontime{
                        font-size: 17px;

                    }
                    background: white;
                    height: auto;
                    margin-bottom: 30px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        max-width: 100%; 
                        transition: all 0.3s ease-in-out;
                        width: 100%;
                        cursor: pointer;
                    }
                    img:hover{
                        transform: scale(1.1);
                    }
                    a{
                        
                        h3{
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 1.4;
                            overflow: hidden;
                            .icon:hover{
                                margin: 0px 10px;
                            }
                        }
                        text-decoration: none;
                        color: #000;
                        :hover{
                            transition: all 0.3s ease-in-out;
                            color: #2db34b;
                        }
                    }
                    
                    
                }
                .content2{  
                            margin: 0;
                            justify-content: space-between;
                        .mrb30{
                            overflow: hidden;
                            height: auto;
                            margin-bottom: 30px;
                            width: 49%;
                            padding: 0;
                        }
                        .new_home_content2{
                            position: absolute;
                            background: #ebebeb;
                            padding: 15px 20px;
                            color: #000;
                            position: relative;
                            .icontime{
                                font-size: 17px;
        
                            }
                        }
                            img{
                                cursor: pointer;
                                max-width: 100%; 
                                transition: all 0.3s ease-in-out;
                                width: 100%;
                            }
                            img:hover{
                                transform: scale(1.1);
                            }
                            a{
                                h3{
                                    font-size: 17px;
                                    font-weight: 700;
                                    line-height: 1.4;
                                    overflow: hidden;
                                    text-decoration: none;
                                    color: #000;
                                   
                                }
                                text-decoration: none;
                                color: #000;
                                :hover{
                                    transition: all 0.3s ease-in-out;
                                    color: #2db34b;
                                }
                            }
                        }
                }
            }
            
        }
        .tabContent{
           
                .titleContent{
                    height: auto;
                    background: white;
                }    
        }
    }
    @media only screen and (max-width: 600px) {
        .mrb30 {
            width: 100% !important;
        }
}
@media only screen and (max-width: 400px) {
    .Banner{
        width: 500px;
    }
}